[Unit]
Description=Unit to run python script for lcd display
After=multi-user.target

[Service]
Type=idle
ExecStart=/usr/bin/python3 /home/pi/lcd/display.py
Restart=always

[Install]
WantedBy=multi-user.target
